#RegisterForm {
    background-color: #A2A2A2;
    /*width: 200px;*/
    margin-top: 0px;
    margin-left: 370px;
    padding: 30px;
    border-radius: 5px;
}

#FormBodyR {
    margin-left: 0px;
}


.headersR { 
    display: inline;
    width: 100px;
}
#fName {
    display:flex;
}
#lName {
    display:flex;
}

#hrR {
    width: 400px;
}

#SubBtnR {
    width: 300px;
    font-weight: bold;
}
#beInline {
    display: inline;
}

.genderStyle{
    font-size:30px;
}
.lblBD {
    font-size: 16px;
}

.txtInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}