#RegisterForm {
    background-color: #A2A2A2;
    width: 500px;
    margin-top: 0px;
    margin-left: 370px;
    padding: 30px;
    border-radius: 5px;
}

#FormBodyR {
    margin-left: 20px;
}


.headersR { 
    display: inline;
    width: 100px;
}
#fName {
    display:flex;
}
#lName {
    display:flex;
}

#hrR {
    width: 400px;
}

#SubBtnR {
    width: 300px;
    font-weight: bold;
}
#beInline {
    display: inline;
}

.genderStyle{
    /*text-size-adjust:150%;*/
    font-size:18px;
}
.lblBD {
    font-size: 16px;
}