@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h2>@ViewData["Title"]</h2>*@
<div id="RegisterForm">
    <h2>Create a new account.</h2>
    <h4>It's free and always will be.</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="FormBodyR">
               @* <hr />*@
                <div asp-validation-summary="All" class="text-danger"></div>
                @*<span asp-validation-for="Input.UserName" class="text-danger"></span>*@

                <div class="form-group">
                    <span id="beInline">
                       @* <label asp-for="Input.Email" class="headersR"></label>*@
                        <input asp-for="Input.Email" class="FormInputs" placeholder="Email Address" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.Password" class="headersR"></label>*@
                    <input asp-for="Input.Password" class="FormInputs" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.ConfirmPassword" class="headersR">Confirm Password</label>*@
                    <input asp-for="Input.ConfirmPassword" class="FormInputs" placeholder="Confirm Password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                  @*  <label class="headersR">First Name</label>*@
                    <input asp-for="Input.FirstName" id="fName" class="FormInputs" placeholder="First Name"/>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label class="headersR">Last Name</label>*@
                    <input asp-for="Input.LastName" id="lName" class="FormInputs" placeholder="Surname"/>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                   @* <label asp-for="Input.PhoneNumber" class="headersR">Phone Number</label>*@
                    <input asp-for="Input.PhoneNumber" class="FormInputs" placeholder="Mobile Number"/>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.Gender" class="headersR"></label>
                    <br />*@
                    <label><input type="radio" asp-for="Input.Gender" checked="checked" value="true"> Female</label>
                    <label><input type="radio" asp-for="Input.Gender" value="false"> Male</label>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Birthday" class="headersR">Birthday</label>
                    <input asp-for="Input.Birthday" class="FormInputs" placeholder="Mobile Number" />
                    <span asp-validation-for="Input.Birthday" class="text-danger"></span>
                </div>
                <hr id="hrR">
                <button type="submit" id="SubBtnR" class="btn btn-default">Sign Up</button>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
