@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h2>@ViewData["Title"]</h2>*@
<div id="RegisterForm">
    <h2>Create a new account.</h2>
    <h4>It's free and always will be.</h4>
    <div class="row">
        <div class="col-xs-12">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="FormBodyR">
               @* <hr />*@
                <div asp-validation-summary="All" class="text-danger"></div>
                @*<span asp-validation-for="Input.UserName" class="text-danger"></span>*@

                <div class="form-group">
                       @* <label asp-for="Input.Email" class="headersR"></label>*@
                        <input asp-for="Input.Email" class="col-xs-10" placeholder="Email Address" />
                        <br />
                        <span asp-validation-for="Input.Email" class="text-danger col-xs-10"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.Password" class="headersR"></label>*@
                    <input asp-for="Input.Password" class="col-xs-10" placeholder="Password" />
                    <br />
                    <span asp-validation-for="Input.Password" class="text-danger col-xs-10"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.ConfirmPassword" class="headersR">Confirm Password</label>*@
                    <input asp-for="Input.ConfirmPassword" class="col-xs-10" placeholder="Confirm Password"/>
                    <br />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger col-xs-10"></span>
                </div>
                <div class="form-group">
                    @*  <label class="headersR">First Name</label>*@
                    <input asp-for="Input.FirstName" id="fName" class="col-xs-5" placeholder="First Name" />

                    @*<label class="headersR">Last Name</label>*@
                    <input asp-for="Input.LastName" id="lName" class="col-xs-5" placeholder="Surname" />
                    <br />
                    <span asp-validation-for="Input.FirstName" class="text-danger col-xs-10"></span>
                    <span asp-validation-for="Input.LastName" class="text-danger col-xs-10"></span>
                </div>
                <div class="form-group">
                   @* <label asp-for="Input.PhoneNumber" class="headersR">Phone Number</label>*@
                    <input asp-for="Input.PhoneNumber" class="col-xs-10" placeholder="Mobile Number"/>
                    <br />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger col-xs-10"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.Gender" class="headersR"></label>
                    <br />*@
                    <label class="genderStyle"><input type="radio" asp-for="Input.Gender" checked="checked" value="true"> Female</label>
                    <label class="genderStyle"><input type="radio" asp-for="Input.Gender" value="false"> Male</label>
                    <span asp-validation-for="Input.Gender" class="text-danger col-xs-10"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Birthday" class="col-xs-3 lblBD">Birthday</label>
                    <input asp-for="Input.Birthday" class="col-xs-7" placeholder="Mobile Number" />
                    <br />
                    <span asp-validation-for="Input.Birthday" class="text-danger col-xs-10"></span>
                </div>
                <br />
                <hr id="hrR">
                <button type="submit" id="SubBtnR" class="btn btn-default col-xs-10">Sign Up</button>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
