
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="./UnRegcss/bootstrap.min.css">
<link rel="stylesheet" href="./UnRegcss/font-awesome.min.css">
<link rel="stylesheet" href="./UnRegcss/owl.carousel.css">
<link rel="stylesheet" href="./UnRegcss/owl.theme.css">
<link rel="stylesheet" href="./UnRegcss/animate.css">
<link rel="stylesheet" href="./UnRegcss/main.css">
<link rel="stylesheet" href="./UnRegcss/responsive.css">

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="app-showcase wow fadeInDown" data-wow-delay=".5s">
                        <img src="~/images/iphone.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1s">
                        <a class="logo" href="#">
                            <img src="~/images/logo.png" alt="">
                        </a>
                        <h2>Being Productive.<br>Manage Your Life Day to Day</h2>
                        <p>Let you track everything in your life with a simple way</p>
                        <div class="download-btn">
                            <a asp-area="Identity" asp-page="/Account/Register" class="apple" style="text-decoration:none;width:200px;height:50px;background-color:lightgray;text-align:center;border-radius:15px;">
                                <p style="font-size:20pt;color:white;margin-top:5px;">Register</p>
                            </a>
                            <a asp-area="Identity" asp-page="/Account/Login" class="apple" style="text-decoration:none;width:200px;height:50px;background-color:lightgray;text-align:center;border-radius:15px;">
                                <p style="font-size:20pt;color:white;margin-top:5px;">Login</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
 
